body{
	background:#F8F8F8 ;
	font-family:  'Lobster';
}
@import url(http://fonts.googleapis.com/css?family=Droid+Serif); /* to import google font style */ 
.content{
	width:960px;
	margin:20px auto;
	}
	
.main{
	float:left;
	width: 650px;
	margin-top:80px;
	}
	
#progressbar{
	margin:0;
	padding:0;
	font-size:18px;
	}
	
#active1{
	color:red;
	}
	
fieldset{
	display: none;
width: 1000px;
padding: 80px 80px 80px 40px;
margin-left: 85px;
border-radius: 5px;
box-shadow: 3px 3px 25px 1px #808080;
z-index: 2;
margin-top: 100px;
	}

#first{
    display: block;
    width: 1200px;
    margin-top: 100px;
    border-radius: 10px;
    margin-left: 20px;
}
	
	
	}
#second{
    display: none;
    width: 1200px;
    margin-top: 100px;
    border-radius: 10px;
    margin-left: 20px;
}
	
	
	}
#third{
    display: none;
    width: 1200px;
    margin-top: 100px;
    border-radius: 10px;
    margin-left: 20px;
}
	
	}	

	
input[type=text],
input[type=password],
select{
	width:100%;
	margin:10px 0;
	height:50px;
	padding:12px;
	border: 1px solid #F5F0F4;
	border-radius: 11	px;
	}
	
textarea{
	width:100%;
	margin:10px 0;
	height:70px;
	padding:5px;
	border: 3px solid rgb(236, 176, 220);
	border-radius: 4px;
	}
	
input[type=submit],
input[type=button]{
	width: 200px;
	margin:15px 25px;
	padding: 5px;
	height: 50px;
	background-color: #171515;
	border: none;
	border-radius: 4px;
	color: white;
	font-family: 'Droid Serif', serif;
	}
	
h2,p{
	text-align:center;
	font-family: 'Droid Serif', serif;
	}
	
li{
	margin-right:5px;
	display:inline;
	color:#c1c5cc;
	font-family: 'Droid Serif', serif;
	
	}
/*---------------------------------------------
	CSS For right side advertisement
-----------------------------------------------*/	
.formget{
	float:right;
	margin-top:30px;
	}

#map-canvas { 
  height: 900px; 
  width: 950px; 
  position:absolute; 
  top: 37; 
  left: 0; 
  margin-top: 40px;
  
  margin-left: 675px;
  z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
}
.mapspace{ 
  height: 1000px; 
  width: 1000px; 
  position:absolute; 
  top: 50; 
  left: 0; 
  margin-left: 600px;
  z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
}
#map-canvas1 { 
  height:1000px; 
  width:950px;  
  position:absolute; 
  top: 0; 
  left: 0; 
  z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
}
 
#cform {
 
 
z-index: 1; /* The z-index should be higher than Google Maps */
 
width: 600px;
background: black;
 
height: auto;
 
opacity: .80; /* Set the opacity for a slightly transparent Google Form */
 
color: white;
 
}	

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
.element{
  margin-top:100px;
  font-size: 40px;
  color: #0011C9;
  margin-left:500px;
  height:50px;
}

.add-on .input-group-btn > .btn {
  border-left-width:0;left:0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  height:50px;
  margin-top: 10px;
  
}
/* stop the glowing blue shadow */
.add-on  {
 box-shadow:none;
 width:200px;
 -webkit-box-shadow:none; 
 border-color:#cccccc; 
}
.shipperbtn {
	margin-left: 350px;
    font-size: 20px;
    background-color: #267217;
    border-color: #267217;
    color: #F8EEEE;

}
.quoteform{
	margin-left: 0px;
	height:250px;
	width:650px;
	background-color: #F8F8F8;
    z-index:1; 
}
.requestdetail{
	width:650px;
	margin-left: 0px;
	z-index:1;
}
.setbtn{
	margin-left: 30px;
	font-size: 18px
}
.setbtn1{
	font-size: 18px
}
.warning{
	font-size: 18px;
	z-index:1;
	height: 50px;
}
.space{
	width: 1300px;
}
.up{
	z-index: 1;
	height:50px;
	width:200px;
	margin-left: 650px;
}
.well1{
   min-height: 20px;
padding: 19px;
margin-bottom: 20px;
border: 1px solid #E3E3E3;
border-radius: 4px;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
z-index: 0;
}
.cal{
	margin-left: 410px;
	z-index: 2;
	width: 400px;
}
.navhome{

background-color: #165FAE;
height: 71px;


}
.space{
	margin-right: 5px;
}
.navbartemp{
margin: 10px;
color:#FBF6F6;
}
.navebarshipper
{
color:#FBF6F6;	
background-color: #165FAE;
height: 71px;

}
#calendervalue{
	width:160px;
}
.calbtn{
	margin-left: 70px;
margin-top: 1px;
height: 10px;
}


.carosalslider{
	height:1000px;
	max-width:1650px;
}
.footer{
background-color: #0B0111;
height: 500px;
}
.navbarfont{
	font-size: 10px;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #FBF6F6;
    
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #FBF6F6;
    background-color: #165FAE;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 5px;
    border: 1px solid transparent;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 5px;
}
.company {
    color: #F5FAFF;
    font-size: 20px;
    background-color:#C33B3B;
    width: 635px;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #FFF;
    background-color: #165FAE;
    border-color: #165FAE;
    margin-bottom: 10px;
}
.var{
	margin-left: 250px;
}
.one{
 margin-bottom: 10px;
 width: 250px;
 margin-right: 0px;
}
.two{
	padding-left: 0;
 margin-bottom: 10px;
 width: 250px;
}
.show{
  padding-left: 5;
}
.three{
 margin-bottom: 10px;
 
}
.hd{
 padding-left: 0;
}
span.stars, span.stars span {
    display: block;
    background: url("{%static "/img/star.png"%}") 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}
#next_btn1{
	margin-left: 0px;
	width: 100px;
	margin-top: 0px;
}
.brokerlogin{
   margin-right: 20px;
   font-size: 20px;
}
.brokersignup{
   margin-right: 10px;
   font-size: 14px;
}
.top-nav1 {
	margin-left: 1200px;
    margin-top: 30px;
}
.btn-primary:hover {
    
    background-color: #267217;
    border-color: #267217;
    color: #F8EEEE;
}
.offer{
   background-color: blue;
}
.cr1{
	color:#F9F6F6;
	font-size: 3.5em;
	margin-top: 200px;
	margin-left: 550px;
	font-family: "Times New Roman", Times, serif;
}
.offerbg{
	background-color: #165FAE;
}
a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
    z-index: 2;
    color: #FFF;
    background-color: #165FAE;
    border-color: #1B242F;
}
a:focus, a:hover{
   background-color: 
}
#calenderval{
	width: 250px;
}
.calbutton{
	margin-left: 70px;
	margin-top: 0px;
	height: 10px;
}
.btn2{
	height:48px;
	margin-left: 0px;
}
.multistepform{
	width:100;
}
.head{
	padding-top: 0;
}
.height .form-control{
	height: 48px !important;
}
.navbar__menu--logo:hover {
    position: absolute;
    color: #FFF;
    text-decoration: none;
    font-size: 30px;
    margin-top: 5px;
}
input.date {
	width: 150px;
	color: #000;
}
.mid{
	width: 1300;
	height: 300;
}
.logo1{
	font-size: 40px;
	color:#FBF6F6;
	margin-left: 10;
	padding-top: 5;
}
.typed-cursor{
            opacity: 1;
            font-weight: 100;
            -webkit-animation: blink 0.7s infinite;
            -moz-animation: blink 0.7s infinite;
            -ms-animation: blink 0.7s infinite;
            -o-animation: blink 0.7s infinite;
            animation: blink 0.7s infinite;
        }
        @-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-webkit-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-moz-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-ms-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-o-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }