<html lang="en">
{% load staticfiles %}
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel='stylesheet' type='text/css' href="{% static "Bootstrap/css/bootstrap.css" %}"  />
    <link rel='stylesheet' type='text/css' href="{% static "Bootstrap/css/bootstrap.min.css"%}"/>
    <link rel='stylesheet' type='text/css' href="{% static "css/default.css"%}"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="{% static "Bootstrap/js/jquery.min.js" %}"></script>
    <script src="{% static "Bootstrap/js/bootstrap.min.js"%}"></script>
    {% include "navbar.html" %}
</head>	
<body>
   <div class="container">	
		<form role="form" class="form-horizontal" action="/managetruck/" method="POST">
			{% csrf_token %}
			<label >Registration number:</label>
    		<div class="form-group">
    			
        		<div class="col-sm-2">
      			<select class="form-control" id="sel1" name="state" vaue={{state}}>
        		<option>GJ</option>
        		<option>RJ</option>
        		<option>HR</option>
        		<option>DL</option>
      			</select>
        		</div>
                <div class="col-sm-2"><input type="text" class="form-control" name="rto" placeholder="12" required value={{rto}}>
                </div>
                
                <div class="col-sm-2"><input type="text" class="form-control" name="numberone" placeholder="C" required value={{numberone}}>
                </div>
               
                <div class="col-sm-2"><input type="text" class="form-control" name="numbertwo" placeholder="1990" required value={{numbertwo}}>
                </div>
            </div>
            <div class="form-group">
    			
        		<div class="col-sm-2"><label >Type:</label>
      			<select class="form-control" id="sel1" name="type" vaue={{trucktype}}>
        		<option>semitrailer</option>
        		<option>semitrailer with rail</option>
        		<option>tank truck</option>
        		<option>car cairrer</option>
      			</select>
        		</div>
                <div class="col-sm-2"><label >Tyre:</label>
      			<select class="form-control" id="sel1" name="tyre" vaue={{trucktyre}}>
        		<option>6</option>
        		<option>7</option>
        		<option>8</option>
        		<option>10</option>
      			</select>
        		</div>
                <div class="col-sm-2"><label>Model:</label><input type="text" class="form-control" name="model" placeholder="TATA-C123456" required value={{model}}>
                </div>
               
                <div class="col-sm-2"><label>Capacity:</label><input type="text" class="form-control" name="capacity" placeholder="in tones" required value={{capacity}}>
                </div>
            </div>
    		<div class="form-group">
    			
        		<div class="col-sm-2"><label >Body Lenght:</label>
      			<select class="form-control" id="sel1" name="length" vaue={{length}}>
        		<option>16</option>
        		<option>20</option>
        		<option>25</option>
        		<option>30</option>
      			</select>
        		</div>
                <div class="col-sm-2"><label >Body width:</label>
      			<select class="form-control" id="sel1" name="width" vaue={{width}}>
        		<option>10</option>
        		<option>15</option>
        		<option>12</option>
        		<option>13</option>
      			</select>
        		</div>
                <div class="col-sm-2"><label>Preferable item</label><input type="text" class="form-control" name="item" placeholder="Packed Cartoons" required value={{item}}>
                </div>
                 <div class="col-sm-2"><label >Default driver:</label>
      			<select class="form-control" id="sel1" name="driver" vaue={{driver}}>
      				{%for item in driver_list%}
        		<option>{{item.fname}} {{item.lname}}</option>
        		    {%endfor%}
      			</select>
        		</div>
                	
               
            </div>
            <div class="form-group">
                <div>
                	<lable>PUC</lable>
                	<input type="file" name="puc">
                      
                </div>            
            </div>
            <div class="form-group">
                <div>
                	<lable>insurance</lable>
                	<input type="file" name="insurance">
                      
                </div>            
            </div>
            <div class="form-group">
                <div>
                	<lable>RC BOOK</lable>
                	<input type="file" name="rc">
                      
                </div>            
            </div>
            <div class="form-group">
                    <div class="col-sm-6">
                       <button name="addtruck" type="submit" class="btn btn-info pull-right" value="True">Save</button>
                    </div>
               </div>
   		</form>
    </div> 



</body>
</html>